{% extends 'base/main.html' %} {% load static %}
<!-- ava -->
{% block content %}
<!-- hero text -->
<section class="mx-8 my-4 lg:px-[200px]">
  <div class="bg-white rounded-xl shadow-lg pb-3">
    <img
      src="{{post.image.url}}"
      alt=""
      class="object-contain w-full h-[440px] rounded-xl"
    />
    <div class="px-16 mb-8">
      <div class="object-contain items-center justify-center">
        <h1 class="text-mainBlue text-lg font-semibold">
          {{post.title}}
          <span class="text-gray-600 font-normal"> - by {{post.author}}</span>
        </h1>
      </div>
      <div class="mb-8 mt-6">
        <p>{{post.article}}</p>
      </div>
      <div class="flex flex-row gap-2">
        {% for tag in tags %}
        <span class="p-2 rounded-xl bg-lightGrey2 text-mainBlue mb-4">
          #{{tag.name}}
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- comment here  -->
  {% if request.user.is_authenticated %}
  <div class="my-2">
    <form method="POST" action="">
      {% csrf_token %}
      <input
        class="h-8 w-full rounded-lg border bg-slate-50 border-mainBlue text-mainBlack border-none"
        type="text"
        name="body"
        placeholder="Write your comments here"
      />
    </form>
  </div>
  {% endif %}
  <!-- comment section -->
  <div>
    <div class="my-4">
      <h2 class="text-3xl font-semibold text-mainBlue">Comments(3)</h2>
    </div>
    <!-- actuall comments  -->
    <div class="flex flex-col gap-2">
      {% for comment in post_comment %}
      <div class="bg-lightGrey1 rounded-lg shadow-lg p-2">
        <div class="flex flex-row">
          <div class="rounded-full w-[20px] h-[20px]">
            <img
              src="../../../static/assets/1662188224281.png"
              alt="picicon"
              class="object-contain rounded-full"
            />
          </div>
          <div class="ml-2">
            <h4 class="font-semibold">{{user.username}}</h4>
            <p class="text-slate-500">{{comment.created|timesince}} ago</p>
            <p>{{comment.comment}}</p>
          </div>
        </div>
        <div>
          <hr class="bg-blue-500" />

          <div class="flex flex-row gap-2">
            <p>&#x2764; Liked</p>
            {% if request.user == comment.user %}
            <p
              data-id="{{comment.user.id}}"
              data-action="POST"
              id="delle"
              class="cursor-pointer font-medium text-mainBlue hover:text-red-600"
            >
              Delete
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
